* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(weatherbg.jpg);
    /* background-color: white; */
    background-position: center center;
    background-repeat: no-repeat;
}

.container {
    width: 600px;
    margin: 100px auto;
    padding: 40px;

}

.inputs {
    padding: 2rem 0 2rem 0;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
    background-color: gold;
    height: 150px;

}
#city:hover{
    background-color: black;
    color: white;
}

.inputs input[type="text"] {
    height: 4rem;
    width: 20rem;
    background-color: #212121;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 30px;
    margin-right: 4px;
}

.inputs input[type="submit"] {
    height: 3rem;
    width: 6rem;
    background-color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    color: black;
    border-radius: 25px;
    border: none;
}
#add:hover{
    background-color: black;
    color: white;
}
.display{
    text-align: center;
    width: 520px;
    color: rgb(19, 201, 19);
}
.wrapper{
    margin: 0 9rem;
    background-color: rgb(255, 255, 255);
    height: 45vh;
    margin: 50px auto;
    border-radius: 20px;
}
.wrapper h2{
    padding: 5px 0;
    text-align: center;
    color: white;
    background-color: rgb(31, 31, 255);
}
.wrapper p{
    margin: 20px 50px;
    margin-right: 20px;
    text-align: left;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 23px;

}
#add{
    cursor: pointer;
}
.wrapper h2 span{
    font-size: 26px;
    color:aqua;
}
.wrapper p span{
font-weight: bold;

    color: rgb(0, 0, 0);
    font-size: 25px;
}